@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-animation {

 
    animation: rotate 15s linear infinite;
  }
  .circle-animation:hover {

 
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .zoom-animation {
    animation: zoom 15s linear infinite;
  }
  
  .zoom-animation:hover {
    animation: zoom 5s linear infinite;
  }
  
  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }

.truncate {
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    text-overflow: ellipsis; /* Hiển thị dấu "..." */
    overflow: hidden; /* Ẩn chữ dư thừa */
  }

  .call-animation {
    padding: 10px;
    background-color: rgb(221,51,51);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .call-animation::before {
    content: "";
    position: absolute;
    border: 1px solid rgb(221,51,51);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
  }
  
  .call-animation::after {
    content: "";
    position: absolute;
    border: 1px solid rgb(221,51,51);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s
  }  


  .mess-animation {
    padding: 10px;
    background-color: rgb(51, 102, 221);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .mess-animation::before {
    content: "";
    position: absolute;
    border: 1px solid rgb(51, 102, 221);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
  }
  
  .mess-animation::after {
    content: "";
    position: absolute;
    border: 1px solid rgb(51, 102, 221);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s
  }  


  @keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0
    }
  
    50% {
        transform: scale(1);
        opacity: 1
    }
  
    100% {
        transform: scale(1.3);
        opacity: 0
    }
  }

  .neon-div {
    animation: gradient-animation 10s linear infinite;
  }

  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .element-dropdown {
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    padding-right: 0.75rem; /* pr-3 */
    padding-left: 0.75rem; /* pl-3 */
  }
  
  .element-dropdown:hover {
    border-radius: 0.25rem; 
    transform: scale(1.25); 
  }
  

  
  @keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0
    }
  
    50% {
        transform: scale(1);
        opacity: 1
    }
  
    100% {
        transform: scale(1.3);
        opacity: 0
    }
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  